<div class="container">
  <div class="jumbotron">
    <h1>Hearthstone Fans!</h1>
    <p>
      This website is a small fan site for Blizzard's card game, <a href="http://www.playhearthstone.com">Hearthstone</a>.  It contains Hearthstone news and a card list, backed by an open API!
    </p>
    <p>
      Check out a list of all <a class="basic" href="#">Basic</a>, <a class="common" href="#">Common</a>, <a class="rare" href="#">Rare</a>, <a class="epic" href="#">Epic</a>, and <a class="legendary" href="#">Legendary</a> cards!
    </p>
  </div>
</div>
