<!DOCTYPE html>
<html data-ng-app="HSFans">
<head>
  <title>Hearthstone API</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-ng-controller="MainCtrl">

<section class="container">
  <div class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">Hearthstone Fans</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li data-ng-class="isActive('home')"><a data-ui-sref="home">Home</a></li>
          <li data-ng-class="isActive('cards')"><a data-ui-sref="cards">Card List</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="container" data-ui-view></div>

</body>
</html>
